<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Information Retrieval System</title>
</head>
<body>
<h1>Welcome to UWaterloo CS651 Grad Students: Info Retrieval System </h1>

<p th:text="${message}"></p>


<form th:action="@{/search}" method="get">
    <label style="font-size:20pt;" for="query">Enter your search query:</label>
    <input style="height:40px;font-size:14pt;" size="56" type="text" id="query" name="query" required/>
    <!-- Dropdown menu -->
    <label style="font-size:18pt;" for="algorithm">Select Ranking Model:</label>
    <select style="height:50px; font-size:14pt;" id="algorithm" name="algorithm">
        <option value="VSM">VSM</option>
        <option value="TFIDF">TFIDF</option>
        <option value="BM25">BM25</option>
        <!-- Add more options as needed -->
    </select>
    <button style="font-size:16pt;" type="submit">Search</button>
</form>
</body>
</html>